<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AvaloniaCI" value="https://api.nuget.org/v3/index.json" />
    <add key="XamlBehaviors" value="CommunityToolkit.WinUI.Behaviors" Version="8.2.250402" />
  </packageSources>
</configuration>
